# dependencies
node_modules
bun.lockb

# local cms (keep local-only data out of deploys)
cms/dist
cms/.cache
cms/node_modules

# system files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnp-debug.log*

# env
.env
.env.local
